/PCB_Project/__Previews/
/PCB_Project/History/
/PCB_Project/Project Logs for PCB_Project/
/PCB_Project/Project Outputs for PCB_Project/

/Extension board/__Previews/
/Extension board/History/
/Extension board/Project Logs for PCB_Project/
/Extension board/Project Outputs for PCB_Project/